---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/ui/Headline.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CalendarIcon from '~/assets/icons/calendar.svg';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
const metadata = {
  title: 'Neciu Dan: Tech Lead & Co-Founder Biography',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Neciu Dan"
    tagline="bio"
    callToAction={{ targetBlank: true, text: 'Contact me', href: 'mailto:dan.neciu.cst@gmail.com' }}
  >
    <Fragment slot="subtitle">
      Consistently strives for excellence by aiming to strike the perfect balance between Product Engineering and Platform Engineering. He is dedicated to delivering visually stunning user interfaces that lead to valuable product outcomes in a short period of time but also placing a strong emphasis on producing clean and easily maintainable code.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          targetBlank: true,
          text: 'Youtube',
          href: 'https://www.youtube.com/@NeciuDan/',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          targetBlank: true,
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/neciudan/',
        },
      },
      {
        icon: 'tabler:brand-x',
        callToAction: {
          targetBlank: true,
          text: 'X',
          href: 'https://twitter.com/neciudan',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          targetBlank: true,
          text: 'X',
          href: 'https://instagram.com/neciudev',
        },
      },
      {
        icon: 'tabler:brand-tiktok',
        callToAction: {
          targetBlank: true,
          text: 'X',
          href: 'https://www.tiktok.com/@neciudan',
        },
      },
    ]}
    image={{
      src: 'images/about/profile_2.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Neciu Dan recently co-founded an ed-tech startup, where he serves as a technical co-founder. He is passionate about technology and education, and this new venture allows him to combine these interests. 

        Despite the challenges of the startup world, he is committed to using his technical skills to transform the education industry and make a positive impact. 
      </p>
      <br />
      <p>If you want to learn more about his work, you can follow him using the following links:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <WidgetWrapper id={'events'} containerClass={`max-w-5xl`}>
  <Headline
    title={'Speaking Events'}
    classes={{
      container: 'text-left rtl:text-right',
      title: 'text-3xl lg:text-4xl',
    }}
  />

  <div class="c-s-timeline">
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://www.reactrally.com/" rel="nofollow" target="_blank">React Alicante 2024</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> 19th September 2024</span><span
          class="c-s-event__meta c-s-event__meta--location">Alicante, Spain</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://www.reactrally.com/" rel="nofollow" target="_blank">React Rally 2024</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> 12th August 2024</span><span
          class="c-s-event__meta c-s-event__meta--location">Utah, United States</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://websummercamp.com/2024" rel="nofollow" target="_blank">Web Summer Camp 2024</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> 5th July 2024</span><span
          class="c-s-event__meta c-s-event__meta--location">Opatija, Croatia</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://www.kcdc.info/" rel="nofollow" target="_blank">KCDC 2024</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> 28th June 2024</span><span
          class="c-s-event__meta c-s-event__meta--location">Kansas City, United States</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://c3fest.com/" rel="nofollow" target="_blank">C3 Fest</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> 15th June 2024</span><span
          class="c-s-event__meta c-s-event__meta--location">Amsterdam, Netherlands</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://internals.tech/2024s" rel="nofollow" target="_blank">Internals Tech 2024</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> April 2024</span><span
          class="c-s-event__meta c-s-event__meta--location">Limassol, Cyprus</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://frontmania.com" rel="nofollow" target="_blank">Frontmania 2023</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> October 2023</span><span
          class="c-s-event__meta c-s-event__meta--location">Ultrech, Netherlands</span
        >
      </div>
    </div>
   
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://reactalicante.es" rel="nofollow" target="_blank">React Alicante 2023</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> September 2023</span><span
          class="c-s-event__meta c-s-event__meta--location">Alicante, Spain</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://www.utahjs.com/conference" rel="nofollow" target="_blank">UtahJS Conf 2023</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> September 2023</span><span
          class="c-s-event__meta c-s-event__meta--location">Sandy, Utah, United States</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://handsontesting.com/" rel="nofollow" target="_blank">Hands On Testing 2023 - hybrid</a
          >
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> September 2023</span><span
          class="c-s-event__meta c-s-event__meta--location">Guadalajara, Mexico</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://www.techorama.be" rel="nofollow" target="_blank">Techorama 2023 Belgium</a>
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> May 2023</span><span
          class="c-s-event__meta c-s-event__meta--location">Antwerpen, Belgium</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://www.developerweek.com/global/conference/management/" rel="nofollow" target="_blank"
            >DeveloperWeek Management 2023</a
          >
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> May 2023</span>
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title">
          <a href="https://www.scifidevcon.com/" rel="nofollow" target="_blank">SciFiDevConMayTheFourthEvent 2023</a
          >
        </h3>
        <span class="c-s-event__meta c-s-event__meta--date"> May 2023</span>
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title"><span>Soirée du test - Bordeaux - 2023</span></h3>
        <span class="c-s-event__meta c-s-event__meta--date"> April 2023</span><span
          class="c-s-event__meta c-s-event__meta--location">Bruges, France</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title"><span>Voxxed Days Athens - 2022</span></h3>
        <span class="c-s-event__meta c-s-event__meta--date"> September 2022</span><span
          class="c-s-event__meta c-s-event__meta--location">Athens, Greece</span
        >
      </div>
    </div>
    <div class="c-s-timeline__item">
      <div class="c-s-timeline__indicator">
        <span class="c-s-timeline__icon">
          <img class="about-icon" src={CalendarIcon.src} alt="" />
        </span>
      </div>
      <div class="c-s-event">
        <h3 class="c-s-event__title"><span>Vue Roadtrip Barcelona</span></h3>
        <span class="c-s-event__meta c-s-event__meta--date"> July 2022</span><span
          class="c-s-event__meta c-s-event__meta--location">Barcelona, Spain</span
        >
      </div>
    </div>
  </div>
  </WidgetWrapper>
  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Lead Engineer <br /> <span class="font-normal">CareerOS, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">February 2023 - Present</span>',
        description: `- Built the a greenfield project, choosing the best tools for the job <br /> - Implemented a Product Engineering Mindset to deliver the correct features to our users <br /> - Leading and Mentoring junior Engineers   <br /> - Growing the team and product to the next level`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Product Engineer <br /> <span class="font-normal">Glovo, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">Oct 2020 - Feb 2023</span>',
        description: `- Improved Web Core Vitals from 50% green to 90% green in all categories. <br /> - Lead and Implemented Product Filtering in our Catalogue that Improved CVR by 3% and Organic Traffic by 20% <br/> - Added Observability Practices in the Web, custom dashboards and monitors, and reduced the errors in our app by 30% <br/> - Working on the Authentification Flow, increased Sign up Rates by 10% and reduced the Sign up time by 50% <br/> - Fixed 5 major security issues in the Web App and implemented a Security Culture in the team`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Engineer <br /> <span class="font-normal">Adoreme, New York, NY</span> <br /> <span class="text-sm font-normal">Oct 2016 - Oct 2020</span>',
        description: `- Responsible for the migration of legacy AngularJS code to StencilJs
        <br />
        - Implemented Design System components into e-commerce website
        <br />
        - Improved the filtering experience that increased CVR by 1.2%
        <br />
        -Responsible for the CI/CD pipeline for 4 frontend applications
        <br />
        -Implemented two new projects that automated 90% the technical design processes 
        <br />
        -Advocated for XP practices inside the team, like unit testing MOB programming and pair programming `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Developer <br /> <span class="font-normal">GMP+WEBSTYLER, Bucharest, Romania</span> <br /> <span class="text-sm font-normal">Apr 2013 - Oct 2016</span>',
        description: `Built various PR campaigns for clients like: Coca-Cola, Unilever, P&G, Lidl, Kaufland, Orange, Vodafone, Samsung, etc. <br />`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->



  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Frontend Programming',
        description: 'Proficient in building frontend applications using any JavaScript framework: React, Vue, Angular',
      },
      {
        title: 'Backend Programming',
        description: 'Skilled at developing in a couple of backend technologies: NodeJS, PHP, Go, Python with NoSQL or SQL databases',
      },
      {
        title: 'Mobile Development',
        description: 'Experienced in building mobile applications using React Native',
      },
      {
        title: 'User-centered mindset',
        description: 'Experienced in creating user-centered processes and leading teams to deliver the best user experience',
      },
      {
        title: 'Public Speaking',
        description: 'Experienced in speaking at conferences and meetups',
      },
      {
        title: 'Mentoring',
        description: 'Experienced in mentoring junior developers',
      },
      {
        title: 'Leadership',
        description: 'Experienced in leading teams and projects',
      },
      {
        title: 'Communication',
        description: 'Experienced in communicating with stakeholders and clients',
      },
      {
        title: 'Security and Privacy',
        description: 'Experienced in implementing security and privacy best practices',
      },
    ]}
  />

  

  <Testimonials
    title="Recommendations"
    subtitle="Discover what colegues have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `I can say without hesitation that Dan is among my favourite developers I have ever worked with.Fantastic technical skills: I worked with Dan on a very ambitious project to revamp Glovo's web app. This was a complex project both in terms of UI and performance. Dan led this effort while also mentoring the team. He proposed scalable solutions that helped us set a solid backbone. Dan led us to achieve a hockey stick increase`,
        name: 'Lokesh Mahajan',
        job: 'Principal Product Manager @ Zalando',
        image: {
          src: '/images/testimonials/lokesh.jpeg',
          alt: 'Lokesh Mahajan image',
        },
      },
      {
        testimonial: `Dan is an extremely talented Senior Frontend Engineer. I had the pleasure of working with Dan at Glovo on the same team and later on cross-team initiatives.
I was particularly impressed at Dan skills to build performance and scalable web applications. Also, he puts a lot of effort into quality assurance as well as monitoring them with observability tools.`,
        name: 'German Quinteros',
        job: 'Senior Software Engineer @ Glovo',
        image: {
          src: '/images/testimonials/german.jpeg',
          alt: 'German Quinteros Image',
        },
      },
      {
        testimonial: `He is a very talented engineer with a great eye for detail. He is a great team player and always willing to help others. He is a great asset to any team. Dan often thinks beyond day-to-day execution and takes full ownership of the projects. He proactively unblocks his team and foresees potential blockers ahead of time. `,
        name: 'Justyna Kaluzka',
        job: 'Engineering Manager at Spotify',
        image: {
          src: '/images/testimonials/justyna.jpeg',
          alt: 'Justyna Kaluzka Image',
        },
      },
      {
        testimonial: `Dan does not confine himself to just the technical side but engages in healthy discussions that challenge the designers and PMs to think further about the user experience. Dan also shows a keen interest in understanding the "why" behind the products that we build. He understands the business and customer implications of whatever the team builds. 
Dan has often led executive-level demos. `,
        name: 'Fotis Adamakis',
        job: 'Vue Author & Influencer',
        image: {
          src: '/images/testimonials/fotis.jpeg',
          alt: 'Fotis Adamakis Image',
        },
      },
      {
        testimonial: `We hit the jackpot when we hired Dan. He is a very talented developer, with a product focused mentality. He is a great team player and always willing to help others. He is a great asset to any team. Dan often thinks beyond day-to-day execution and takes full ownership of the projects. He proactively unblocks his team and foresees potential blockers ahead of time. `,
        name: 'Marcus Castro',
        job: 'CEO',
        image: {
          src: '/images/testimonials/marcus.jpeg',
          alt: 'Marcus Castro Image',
        },
      },
      {
        testimonial: `Working with Dan is a pleasure. I especially appreciate his ability to see the big picture and to understand the business impact of his work. One of his biggest strengths is his ability to communicate with people from different backgrounds and to explain complex technical concepts in a simple way. Dan is a great team player and a very reliable person.  `,
        name: 'Maximilian Stengel',
        job: 'CEO',
        image: {
          src: '/images/testimonials/max.jpeg',
          alt: 'Maximilian Stengel Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Need help with your next project?"
    subtitle="Intrested in a workshop or speaking engagement?"
    callToAction={{
      text: 'Contact me',
      href: 'mailto:dan.neciu.cst@gmail.com',
    }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
<style>
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .events {
    width: 600px;
    position: relative;
    margin: 0 auto;
  }
  .about-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    fill: red;
    overflow: hidden;
  }
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
    margin-top: -200px;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.4);
    padding: 12px;
    border-radius: 8px;
    position: absolute;
    left: 392px;
  }
  .stick {
    position: sticky;
    top: 80px;
  }
  h2.sub-title {
    color: var(--link);
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
  .article-body {
    display: grid;
    grid-template-columns: 800px 1fr;
    column-gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .article-head {
    margin-bottom: 64px;
  }
  .article-head__image {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .article-head__image img {
    width: 100%;
    height: auto;
    margin-top: -900px;
    position: relative;
  }
  .sub-title::after {
    display: none;
  }
  aside h2 {
    margin-top: 0;
  }
.c-s-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .c-s-timeline {
    grid-template-columns: 1fr;
  }
  
}
  .c-s-timeline__icon svg {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
   
  }

  .about-tags,
  .about-topics {
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: flex-start;
    padding-left: 0px;
  }

  .about-tags__tag,
  .about-topics__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 18px;
    font-size: 13px;
    color: #fff;
    background-color: #2d2c2c;
  }
  .about-tags__tag p {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 13px;
    color: #fff;
  }
  .c-s-timeline__item {
    display: flex;
    margin-bottom: 32px;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 8px;
  }
  .c-s-event__title {
    margin-top: 0px;
    font-weight: bold;;
    margin-bottom: 0px;
  }

  .c-s-event__tag {
    padding: 10px;
    border-radius: 18px;
    font-size: 13px;
    color: var(--main-color);
    background-color: #2d2c2c;
    margin-left: 20px;
    top: -5px;
    position: relative;
  }
  .c-s-timeline__indicator {
    margin-top: 7px;
  }

  .about-body .profile-image {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: -300px;;
  }
  .about-body .profile-image img {
    width: 100%;
    height: auto;
  }
  .about-tags {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 120px;
    row-gap: 8px;
  }
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
  }
  .social-icons a:hover {
    text-decoration: underline;
  }
  .about-title {
    margin-top: 32px;
    margin-bottom: 48px;
    color: var(--main-color);
  }
  .c-s-event__meta {
    margin-right: 8px;
    color: var(--aw-color-text-muted);
  }
  p {
    margin-bottom: 20px;;
  }
  .about-body {
    display: flex;
    justify-content: flex-start;
    column-gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 24px;
  }
  @media (max-width: 720px) {
    .about-body {
      flex-direction: column;
      margin-top: 0px;
    }
    .social-icons {
      padding-left: 10px;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 8px;
    }
    .about-body .profile-image {
      border-radius: 0;
      width: 100%;
    }
    article {
      padding: 10px;
    }
  }
</style>
